<div class = "detalles" *ngIf = "product">
  <h2>Detalles del Producto</h2>
  <p><strong>{{product.name}}</strong></p>
  <img *ngIf="product.image" [src]="product.image" alt="Imagen de {{product.name}} :v">
  <p><strong>Precio:</strong> $ {{product.price}}</p>
  <p>
      <strong>Disponible:</strong>
      <span [ngClass]="{'in-stock': product.inStock, 'out-of-stock': !product.inStock}">
          {{product.inStock? 'En stock' : 'Agotado'}}
      </span>
  </p>
  <p>
      <strong>Oferta:</strong>
      <span [ngClass] = "{'on-sale':product.onSale}">
          {{product.onSale? 'Sí' : 'No'}}
      </span>
  </p>
</div>
