.enventa {
  background-color: lightgreen;
  font-weight: bold;
  width: 20%;
  font-size: 20px;
}

.inventario {
  color: darkgreen;
  font-size: 20px;
  width: 20%;
}

.agotado {
  color: red;
  font-size: 20px;
  width: 20%;
}

.seleccionado {
  border: 2px solid blue;
  padding: 15px 5px;
  font-size: 20px;
}

li {
    list-style-type: none;
}
