<h1>Lista</h1>
<div class="container">
  <h1>{{ title }}</h1>

  <ul class="product-list">
    <li
      *ngFor="let product of products"
      (click)="selectProduct(product)"
      [ngClass]="{
        'enventa': product.onSale,
        'inventario': product.inStock,
        'agotado': !product.inStock,
        'seleccionado': selectedProduct?.id === product.id
      }">
      {{ product.name }} - ${{ product.price }}
    </li>
  </ul>

  <app-producto *ngIf="selectedProduct" [product]="selectedProduct"></app-producto>
</div>
